footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  height: 60px;
  border-top: 1px solid black;
  color: var(--fifth-color);

  span {
    color: var(--third-color);
    margin: 0 5px;
  }
}
