.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background: var(--fourth-color);
  height: var(--header-bar-height);
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 100;
  .content-wrap {
    .logo {
      height: auto;
      max-width: 40px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .content-wrap {
      .navigation-menu {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .content-wrap {
      .navigation-menu {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .content-wrap {
      .navigation-menu {
        width: 80%;
      }
    }
  }
}
