.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background: var(--fifth-color);
  height: var(--header-bar-height);
  width: 100%;
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
  a {
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
      color: var(--third-color);
    }
  }
}
