.navigation-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;

  a {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s ease-in;
    position: relative;

    &::before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -5px;
      left: 0;
      background: var(--secondary-color);
      transition: 0.4s ease-in;
    }
    &:hover {
      color: var(--secondary-color);
      &::before {
        width: 100%;
      }
    }
  }
}
