#contact {
  background: var(--fourth-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    span {
      background-color: var(--secondary-color);
      color: var(--third-color);
      margin: 0 5px;
    }
  }
  .contact-wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 15px;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      &--mail {
        svg {
          width: 100%;
          max-width: 20px;
          transition: all 0.2s ease-in 0s;
          margin-right: 10px;
        }
      }
      &--linkedin {
        svg {
          max-width: 20px;
          transition: all 0.2s ease-in 0s;
          margin-right: 10px;
        }
      }
      &--github {
        svg {
          max-width: 20px;
          transition: all 0.2s ease-in 0s;
          margin-right: 10px;
        }
      }
    }
  }
}
