#projects {
  background: var(--primary-color);
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 40px;
    transition: all 0.2s ease-in 0s;
    height: 80%;
    max-width: 1600px;
    margin: 50px auto;
    padding: 0 10px;
    list-style-type: none;
  }
  .item {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    min-height: 200px;
    height: 100%;
    width: 100%;
    font-weight: lighter;
    transition: all 0.2s ease-in 0s;
    font-size: 14px;
  }

  .arrow-scroll {
    color: var(--fourth-color);
  }
}
