#projects {
  .speck {
    opacity: 0;
    height: 4px;
    width: 4px;
    background: url("http://i1272.photobucket.com/albums/y391/matthew_williams10/speck_zpsu9xym9zl.png");
    // background-size: cover;
    position: absolute;
    border-radius: 10px;
    z-index: 99;
  }

  .img {
    position: absolute;
    height: 100000px;
    width: 100000px;
    top: -8500px;
    left: -8000px;
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
    animation-name: float;
    animation-iteration-count: infinite;
  }

  #img-3 {
    opacity: 0.15;
    background: url("https://image.ibb.co/cymRwa/dust3.jpg");
    background-repeat: repeat;
    animation-duration: 350s;
  }
  /*ANIMATIONS*/

  @keyframes twinkle {
    0% {
      transform: translate(0px, 0px);
    }
    30% {
      opacity: 0;
    }
    50% {
      opacity: 0.75;
    }
    70% {
      opacity: 0;
    }
    100% {
      transform: translate(175px, 100px);
    }
  }

  @keyframes float {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(8000px, 4000px);
    }
  }

  background: var(--primary-color);
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 40px;
    transition: all 0.2s ease-in 0s;
    height: 80%;
    max-width: 1600px;
    margin: 50px auto;
    padding: 0 10px;
    list-style-type: none;
  }
  .item {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    min-height: 200px;
    height: 100%;
    width: 100%;
    font-weight: lighter;
    transition: all 0.2s ease-in 0s;
    font-size: 14px;
    user-select: none;
    &:hover {
      border: 1px solid var(--third-color);
      color: white;
      .item-content {
        .link {
          color: var(--third-color);
        }
        .tags {
          color: white;
          border: 1px solid white;
        }
      }

      .background {
        opacity: 1;
      }
    }
    &.item-0 {
      grid-column: 1/-1;
    }

    .item-content {
      z-index: 2;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      .description {
        text-align: center;
      }
      .name {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 16px;
      }
      .tags {
        position: absolute;
        bottom: 20px;
        left: 20px;
        border: 1px solid black;
        padding: 3px 10px;
        font-size: 12px;
      }
      .link {
        text-decoration: none;
        color: var(--primary-color);
        transition: 0.2s ease-in;
        &:hover {
          color: white;
        }
        &.project-link {
          margin: 20px 0 10px 0;
        }
      }
    }

    .background {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0;
      z-index: 1;
      transition: 0.2s ease-in;
    }
  }

  .arrow-scroll {
    color: var(--fourth-color);
  }
}

@media screen and (max-width: 1350px) {
  #projects {
    min-height: 100vh;
    height: 100%;
    .projects-grid {
      margin-bottom: 70px;
    }
  }
}

@media screen and (max-width: 600px) {
  #projects {
    .item {
      min-height: 250px;
    }
  }
}
