footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  height: 60px;
  border-top: 1px solid black;
  color: var(--fifth-color);
  .footer-text {
    margin-right: 5px;
  }
  span {
    color: var(--third-color);
  }
}
